<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1>saludar.component.html</h1>
<!--Condicional numeros de registros permitidos
*ngIf="nombres.length < 5"-->
<div [ngSwitch]="nombres.length">
    <div>
        <input type="text"[(ngModel)]="nombreLista">
        <br>
        <button (click)="onButtonClick()">Añadir un nombre</button>
        <br>
    </div>
    
    <div *ngSwitchCase="1"> 
        <p>Uno</p>
    </div>
    <div *ngSwitchCase="3"> 
        <p>Tres</p>
    </div>
</div>
<!--Ciclo que recorre todo el arreglo-->
<p *ngFor="let item of nombres; index as i">
    {{i}}.- Hola {{item}}
</p>
<br>
<!--<app-saludar #mivariable [nombre]="name"(saludar)="onSaludar($event)"></app-saludar>-->
  <hr>
  <div class="progress">
    <div id="barra" class="progress-bar progress-bar-striped validando(nombreLista)" width="90%" role="progressbar" aria-valuenow="10" 
    aria-valuemin="0" aria-valuemax="50">
    <h5>
        <span [ngClass]="validando(nombreLista)">{{nombreLista}}</span>
    </h5>
    </div>
  </div>